name = "raidru-wcl"
main = "worker.js"
compatibility_date = "2026-08-10"

[vars]
ALLOWED_ORIGIN = "https://natalikh.github.io"

# Секреты задаются командами:
# npx wrangler secret put WCL_CLIENT_ID
# npx wrangler secret put WCL_CLIENT_SECRET
